<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="/adminPanel/vendors/feather/feather.css">
    <link rel="stylesheet" href="/adminPanel/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="/adminPanel/vendors/ti-icons/css/themify-icons.css">
    <link rel="stylesheet" href="/adminPanel/vendors/typicons/typicons.css">
    <link rel="stylesheet" href="/adminPanel/vendors/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/adminPanel/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link rel="stylesheet" href="/adminPanel/css/vertical-layout-light/style.css">
    <!-- endinject -->
    <link rel="shortcut icon" href="/adminPanel/images/favicon.png" />
    @await RenderSectionAsync("Style", required: false)
</head>
<body>

    @RenderBody()



    <!-- plugins:js -->
    <script src="/adminPanel/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="/adminPanel/vendors/bootstrap-datepicker/bootstrap-datepicker.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="/adminPanel/js/off-canvas.js"></script>
    <script src="/adminPanel/js/hoverable-collapse.js"></script>
    <script src="/adminPanel/js/template.js"></script>
    <script src="/adminPanel/js/settings.js"></script>
    <script src="/adminPanel/js/todolist.js"></script>
    <!-- endinject -->
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>